"Training data"
"Choice for the theme"
Profile
Achievements
"Learning evaluation"
Endurance
"Differnt accounts"
"Point system"
Highscore
Import
Export
Flashcard
"Cloze test "
"Mutiply choice"
"Compare 1 vs m"
"Compare 1 vs 1"
Help
Test
"Result from Training"
GUI
"Profile window"
"Achievement collection"
Graphics
